<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team List</h1>
        <h2>Welcome!</h2>
    </body>

    <table>
        <thead>
            <tr>
                <th>Name</th><th>Member Count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team: ${teamList}">
                <td th:text="${team.name}"></td><td th:text="${team.memberCount}"></td>
            </tr>
        </tbody>
    </table>


</html>
